---
title: 8000038 dete GDPR račun verifikacije
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 01/24/2019
ms.locfileid: "29487857"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rođenja prikazana u vaš Microsoft nalog je neispravan

Microsoft pridaje račun sigurnosti. Možda ćete imati nedavno bili upitani da obezbedi pristanak roditelja za Microsoft nalogom deteta. Ako vam je potrebna pomoć, pružajući pristanak roditelja ili ažuriranje datum rodjenja na Microsoft nalog, vidim [starosti provere za pristanak roditelja](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saznajte više o [pristanak roditelja i Microsoft dete račune](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

