---
title: 8000038 GDPR Verifikacija podređenog naloga
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764994"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="32a16-102">Datum rođenja prikazanog na Microsoft nalogu nije tačan</span><span class="sxs-lookup"><span data-stu-id="32a16-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="32a16-103">Microsoft veoma ozbiljno preuzima bezbednost naloga.</span><span class="sxs-lookup"><span data-stu-id="32a16-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="32a16-104">Možda vam je od nedavno zatraženo da obezbedite roditeljski pristanak za Microsoft nalog deteta.</span><span class="sxs-lookup"><span data-stu-id="32a16-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="32a16-105">Ako vam je potrebna pomoć u obezbeđivanju roditeljskog pristanka ili ažuriranju datuma rođenja na Microsoft nalogu, pogledajte [potvrdu o starosti za roditeljski pristanak](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="32a16-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="32a16-106">Saznajte više o [roditeljskom pristanka i Microsoft podređenim nalozima](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="32a16-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  