---
title: 8000038 dete GDPR račun verifikacije
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400983"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rođenja prikazana u vaš Microsoft nalog je neispravan

Microsoft pridaje račun sigurnosti. Možda ćete imati nedavno bili upitani da obezbedi pristanak roditelja za Microsoft nalogom deteta. Ako vam je potrebna pomoć, pružajući pristanak roditelja ili ažuriranje datum rodjenja na Microsoft nalog, vidim [starosti provere za pristanak roditelja](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Saznajte više o [pristanak roditelja i Microsoft dete račune](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

